.social-info
  .photo
  .accounts
    .icon
      = link_to 'Facebook', 'https://www.facebook.com/LucyKBain'
    .icon
      = link_to 'Twitter', 'https://twitter.com/lucykbain'
    .icon
      = link_to 'GitHub', 'https://github.com/lbain'
    .icon
      = link_to 'Stackoverflow', 'http://stackoverflow.com/users/863846/lucy-bain'
    .icon
      = link_to 'Blog', 'http://lucyleaps.wordpress.com/'
